html {
    box-sizing: border-box;

}
*, *::before, *::after {
    box-sizing: inherit;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body {
    background-color: #171717;
    padding: 0px;
}
.logo{
color: white;
/* padding-left: 100px; */
}

.logo__header{
/* border: 2px solid white;  */
/* text-align: center; */
padding: 5px;
}

h2,h3{
    color: gold;
}

p{
    color: white;
    font-size: 20px;
}

h2{
    font-size: 35px;
    text-transform: uppercase;
    background-color: darkred;
    
}

h2::before{
    content: '⭐ ';
    font-size: 33;
}

h3{
    font-size: 25px;
    color: white;
    background-color: darkgreen;
    /* width: 50%; */

}

/* FLEXBOX */
.container{
    padding: 10px;
    display: flex;
   flex-wrap: wrap;
}

.wrapper{
    min-width: 300px;
    max-width: 1100px;
}

.gallery{
    background-color: gray;
    min-width: 300px;
    max-width: 600px;
    margin: 20px;
}

.gallery__item{
    background-color: gray;
    padding: 12px;
}